<div class="container-fluid mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-6 text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/FFDMzbrEXaE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6 text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/C5EkxfNEMjE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row justify-content-center align-items-center mt-2">
        <div class="col-lg-6 text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/rsxT4FfRBaM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6 text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/POwaKWZsZIw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>